@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 15%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
    font-family:  "Poppins", sans-serif;
    scroll-behavior: smooth;
}

main {
    width: 1000px;
    max-width: 1100px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    
    margin: 20px 0 40px 0;
}


body {
    /* background: linear-gradient(90deg,rgba(42, 123, 155, 1) 15%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%); */
    scroll-behavior: smooth;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
}



.hidden {
    display: none;
}

.todo-app {
   
    width: 400px;
    height: auto;
    border: 5px solid var(--misty-rose);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
 

}


.btn {
    /* width: 100%;
    margin-top: 10px; */
    padding: 10px 15px;
  
    font-weight: 600;
    /* border-width: 3px; */
}

.large-btn {
    width: 65%;
    /* font-size: 20px; */
    align-self: center;
    justify-self: center;
    margin: 0px 20px;
}


.close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    margin: 0px 20px;
    
   
}


.task-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border-radius: 8px;
}

.task-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .task-form-footer {
    display: flex;
    justify-content: center;
    padding: 6px;
    margin: 55px;
  }
  
  .task-form-label,
  #title-input,
  #date-input,
  #description-input {
    display: block;
  }
  
  .task-form-label {
    margin: 10px 10px;
   
    font-weight: bold;
  }
  
  #title-input,
  #date-input,
  #description-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 15px;
  }
  
  #confirm-close-dialog {
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
  }
  
  .confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .discard-message-text {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #tasks-container {
    height: 100%;
    overflow-y: auto;
  }
  
  .task {
    margin: 5px 0;
  }
  
  .hidden {
    display: none;
  }
  
  @media (min-width: 576px) {
    .todo-app,
    .task-form {
      width: 450px;
      height: 450px;
    }
  
    .task-form-label {
      font-size: 1.5rem;
    }
  
    #title-input,
    #date-input {
      height: 2rem;
    }
  
    #title-input,
    #date-input,
    #description-input {
      padding: 15px 20px;
      margin-bottom: 30px;
    }
  }