@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --misty-rose: #f4dbd8;
    --rose-quartz: #bea8a7;
    --rosy-brown: #c09891;
    --liver: #775144;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--misty-rose);
    font-family:  "Poppins", sans-serif;
}

main {
    width: 1000px;
    max-width: 1100px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--rosy-brown);
    margin: 20px 0 40px 0;
}


body {
    background-color: var(--misty-rose);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.hidden {
    display: none;
}

.todo-app {
    background-color: #ccc;
    width: 400px;
    height: auto;
    border: 5px solid var(--misty-rose);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}


.btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    color: var(--liver);
    font-weight: 600;
    border-width: 3px;
}

.large-btn {
    width: 100%;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    margin: 0px 10px;
}


.close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    margin: 0px 10px;
    width: 20px;
   
}


.task-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
}

.task-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .task-form-footer {
    display: flex;
    justify-content: center;
  }
  
  .task-form-label,
  #title-input,
  #date-input,
  #description-input {
    display: block;
  }
  
  .task-form-label {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  #title-input,
  #date-input,
  #description-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
  }
  
  #confirm-close-dialog {
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
  }
  
  .confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .discard-message-text {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #tasks-container {
    height: 100%;
    overflow-y: auto;
  }
  
  .task {
    margin: 5px 0;
  }
  
  .hidden {
    display: none;
  }
  
  @media (min-width: 576px) {
    .todo-app,
    .task-form {
      width: 400px;
      height: 450px;
    }
  
    .task-form-label {
      font-size: 1.5rem;
    }
  
    #title-input,
    #date-input {
      height: 2rem;
    }
  
    #title-input,
    #date-input,
    #description-input {
      padding: 5px;
      margin-bottom: 20px;
    }
  }
/* h1 {
    color: var(--liver);
   
    margin: 2rem 0rem 2rem 0rem;
}
.todolist {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 500px;
    position: relative; 
    border: 3px solid var(--rosy-brown);
    border-radius: 8px;
   
    padding: 1rem; 
    gap: 1rem;
}

.todolist:hover
{
    box-shadow: 5px 5px #83707021;
    border-radius: 5px;
}


.task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

#open-task-form-btn {
   
    position: absolute;
    left: 55px;
    top: 28px;
   
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 45%;
    overflow: hidden;
    background: var(--liver);
    border: 2px;
    border-width: 2px;
    border-color: var(--liver);
    padding: 5px;
    border-radius: 3px;
    
}
#update-or-delete-task {
    cursor: pointer;
    display: flex;

    align-items: center;
    width: 60%;
    overflow: hidden;
    background: var(--liver);
    border: 2px;
    border-width: 2px;
    border-color: var(--liver);
    padding: 5px;
    border-radius: 3px;

}

/* .btn:hover {
    background-image: linear-gradient(var(--liver), var(--rosy-brown));
} */

/* .large-btn {
    width: 80%;
    font-size: 1rem;
    align-items: center;
} */

/* .close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}


.task-form  {
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
  
 
    flex-direction: column;
  
}

.task-form-header {
    display: flex;
    flex-direction: column ;
} */
/* 
#description {
   margin-bottom: 1rem;
}
#update-or-delete-task {
    text-align: left;
}  */ */


/* #confirm-close-dialog {
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
}

#confirm-close-dialog-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#discard-message {
    font-weight: bold;
    font-size: 1.5rem;
} */